# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.venv*
.venv
.DS_Store
launch_vm
.scratch/
__pycache__/
set-up/vm-assets/alpine-root/*
set-up/vm-assets/alpine.iso
set-up/vm-assets/Image
set-up/m-assets/initramfs-virt
set-up/vm-assets/initramfs.cpio.gz
set-up/vm-assets/qwen1.5b.gguf
set-up/vm-assets/agent_harness.sh 
set-up/vm-assets/vmlinuz-uncompressed
set-up/vm-assets/vmlinuz-virt.gz 
set-up/vm-assets/llama-3.2-3b.gguf
# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
vm-assets/alpine-root/
